@import 'scss/reset';
@import 'scss/var';
@import 'scss/header';
@import 'scss/uuid';
@import 'scss/cidr';

.wrap {
  width: 800px;
  height: 100vh;
  background-color: var(--white100);
  margin: 0 auto;
}