#header {
  width: 100%;
  height: 100px;
  background-color: var(--black100);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white200);

  .nav {
    border: 1px silver white;
    width: 80%;
    margin: 0 auto;

    ul {
      display: flex;
      flex-wrap: wrap;

      .nav__name {
        padding: 4px 28px;
        background-color: var(--black100);
        border-radius: 50px;
      }
      .nav__name:hover {
        background-color: var(--white200);
        color: var(--black100);
        border-radius: 50px;
      }
      .nav__name.active {
        background-color: var(--white400);
        color: var(--black200);
        border-radius: 50px;
      }
    }
  }
}